
.ContentProfile{
    background-color: transparent;
    flex-direction: column;
    height: 100%;
    flex: 1;
    display: flex;
}
.HeaderProfile{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
  .HeaderButtons{
  display: flex;
  }
  .HeaderBNT{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .ApointmentsArea{
      flex-direction: column;
      height: 100%;
      flex: 1;
    height: 100%;
    overflow-y: auto;
    background-color: transparent;
  }


  .ApointmentsArea::-webkit-scrollbar{
    width: 6px;
    height: 6px;
  
  }
  .ApointmentsArea::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.500);
  }
  