.ContentProfile{
    background-color: transparent;
    flex: 1;
    flex-direction: column;
    height: 100%;
}
.HeaderProfile{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    
  }
  .HeaderButtons{
  display: flex;
  }
  .HeaderBNT{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .ApointmentsArea{
      background-color: #fff;
 
      flex-direction: column;
     
      height: 100%;
  }
  .Profile{
    display: flex;
    flex: 1;
    width: 100%;
    height: 14%;
    background-color: rgba(177, 237, 255, 0.383);
    justify-content: space-between;
    padding: 0 10px;
  }
  .Historic{
    flex: 1;
    height: 100%;
  }
  .Contact{
      display: flex;
      flex-direction: column;
  }
  .Contact a {
      font-size: 14px;
      margin-bottom: 5px;
  }