.Intro{
    flex: 1;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-bottom: 6px solid #4adf83;
}
.Intro h1{
    font-size: 32px;
    color: #525252;
    font-weight: normal;
}
.Intro h2{
    font-size: 20px;
    font-weight: normal;
    color: #777;
    margin-top: 20px;
    line-height: 20px;
    text-align: center;
}