.MenuArea{
    width: 30%;
    max-width: max-content 400px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 60px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    transition: all ease 0.5s;

}
.MenuItem{
    display: flex;
    cursor: pointer;
    align-items: center;
    height:55px;
    font-size: 25px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
}