.AreaView{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 5px 0px 3px 5px; 
    flex: 1;
    max-height: 109px;
    margin-bottom: 3px;
}
.LineOne{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   max-width: 250px;
    width: 30%;  
    padding-right: 5px;
}
.LineTwo{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
 
    flex: 1;
}
.Area{
    flex-direction:row;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex: 1;
    width: 100%;
    margin-bottom: 3px;
}
input{
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    border: 0;
    outline: 0;
    width: 100%;
    margin-right: 3px;
}
.InputObs{
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    border: 0;
    outline: 0;
    width: 100%;
}
.Button{
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(77, 141, 224, 0.904);
    border-radius: 5px;
    padding: 0 15px 0 15px ;
    font-weight: bold;
    color: #fff;
    border: 1px solid #000;
    width: 100px;
}

.List{
    overflow-y: auto;
    flex: 1;
    transition: all ease 0.5s;
    width: 100%;
}
.List::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
.List::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.335);
}
.ListItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(243, 243, 243);
} 
.ListItem a{
    flex: 1;
    font-weight: bold;
    font-size: 12px;
}
.Value{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;
}
.Value input{
    width: 70px;
    background-color: #fff;
}
.Icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 8px;
}
.SearchList{
    width: 30%;
    max-width: max-content 400px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 120px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    transition: all ease 0.5s;    
}
.SearchListHeader{
    display: flex; 
    background-color: rgba(181, 213, 255, 0.904);
    align-items: center;
    margin-bottom: 3px;
    height: 30px;
    justify-content: center;
    border-radius: 2px;
    font-weight: bold;
}
.SearchItemList{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(243, 243, 243);
}
.SearchItemList a{
    margin-left: 5px;
   width: 100%;
   font-size: 14px;
    margin: 0;
}
.SearchItemLine2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 60%;
}
.SearchItemLine2 a{
    font-size: 14px;
    color: rgb(102, 102, 102);
    font-weight: bold;
    width: 100%;
}
.AreaDateHour{
    width: 200px;
    display: flex;
    flex-direction: row;
    
}








